@import "_mixins";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700,700i&display=swap');

// Global
$font: "Montserrat", "Helvetica", "Arial", sans-serif;

// gray
$gray-alabaster: #FAFAFA;
$gray-alto: #DEDEDE;
$gray-gallery: #EAEAEA;
$gray-gull: #A0AAB8;
$gray-mine: #313131;
// green
$green-spring: #18ED8A;
$green-jade: #00b95c;
// purple
$purple: #9600A6;
$purple-indigo: #630076;
// red
$red-radical: #FC235C;
$red-monza: #c20033;
// yellow
$yellow-bright-sun: #FFD53F;
// blue
$blue-oxford: #354052;
// orange
$orange: #FF7227;
$orange-grenadier: #C54200;

$white: #FFF;
$black: #000;


// Reset

%reset {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	@extend %reset;
	font-size: 14px;
	background: $white;
	color: $blue-oxford;
	font-family: $font;
	font-weight: 400;
	line-height: 1.612;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	position: relative;
}

// Text structure
strong,
b {
	font-weight: 700;
}

h1,
h2,
h3,
h4 {
	font-weight: 700;
	color: $blue-oxford;
}

h1 {
	font-size: 42px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 18px;
}

p {
	font-size: 14px;
}

a {
	color: $green-jade;
	transition: all .15s ease-out;

	&:hover {
		color: $green-spring;
	}
}

.title {
	color: $green-spring;
}

.link__icon {
	color: $blue-oxford;
	text-decoration: none;
	transition: all .15s ease-out;

	i {
		padding-right: 6px;
	}

	&:hover {
		color: $green-jade;
	}
}

.font {

	&--light {
		font-weight: 300;
	}

	&--normal {
		font-weight: 400;
	}

	&--bold {
		font-weight: 700;
	}

	&--exemple {
		font-size: 42px;
	}

	&--no-margin {
		margin: 0;
	}
}

.title--typo {
	border-right: 1px solid $gray-gallery;
	align-items: stretch;
}
// Layout structure
.header {
	position: fixed;
	width: 100%;
	z-index: 2;
	padding: 0 30px;
	background-color: $white;
	border-bottom: 1px solid $gray-gallery;
	display: flex;
	justify-content: space-between;

	.mobile-logo {
		margin: 10px 0 6px;
		opacity: 1;
		height: 20px;
		@include breakpoint("md") {
			opacity: 0;
		}
	}

	p {
		margin: 10px 0;
		font-size: 12px;
	}
}

section {
	margin: auto;
	border-bottom: 1px solid $gray-gallery;
	width: 90%;
	padding: 75px 0;
}

// Sidebar Menu
.sidebar {
	background-color: $white;
	border-right: 1px solid $gray-gallery;
	height: 100vh;
	left: 0;
	padding: 0;
	position: fixed;
	top: 0;
	transform: translate(-100%, 0);
	transition: all .15s ease-out;
	width: 70%;
	z-index: 1;

	@include breakpoint("md") {
		transform: translate(0, 0);
		width: 100%;
	}

	.logo {
		padding: 30px;
	}
}

.logo {
	width: 100%;
	max-width: 200px;

	&_symbol {
		width: 100%;
		max-width: 50px;
	}
}

.menu ul {
	padding: 0;

	li {
		list-style-type: none;
		padding-left: 27px;
		margin: 25px 0px;
		transition: all .15s ease-out;
		border-left: 3px solid $white;

		a {
			font-weight: 600;
			text-decoration: none;
			color: $gray-gull;

			&:hover {
				color: $green-spring;
			}
		}

		&.active {
			border-left: 3px solid $green-spring;

			a {
				color: $green-spring;
			}
		}
	}
}

// Logo
.logo__box {
	text-align: center;
	padding: 30px 10px;
	border: 1px solid $gray-alto;
	&--color {
		background-color: $purple;
	}
}

.logo__links {
	padding: 0;
	list-style: none;
	text-align: left;
	margin-bottom: 50px;
	@include breakpoint("md") {
		margin-bottom: 0px;
	}

	li {
		margin: 25px 0px;

		@include breakpoint("md") {
			margin: 10px 0px;
		}
	}

	.fas {
		padding-right: 5px;
	}

	.file__title {
		padding-right: 5px;
	}

}

// Buttons
.button {
	background-color: $gray-alabaster;
	border-radius: 3px;
	border: 0px;
	border: 1px solid $gray-gallery;
	color: $blue-oxford;
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	margin: 12px 0;
	padding: 12px;
	text-align: center;
	text-decoration: none;
	transition: all .15s ease;
	width: 100%;

	&:hover {
		background-color: $gray-gallery;
	}

	&--icon {
		border: 1px solid $gray-gallery;
		font-size: 12px;
		text-align: left;
		flex-wrap: wrap;
		justify-content: flex-start;
		display: flex;
		align-items: center;
		padding: 15px 20px;
		color: $blue-oxford;

		i {
			color: $green-spring;
			padding-right: 15px;
			transition: all .15s ease-out;
		}

		&:hover {
			background-color: $green-spring;
			border: 1px solid $green-spring;
			color: $white;

			i {
				color: $white;
			}
		}
	}

	&--big {
		font-size: 20px;
		padding: 17px;
	}

	&--small {
		font-size: 14px;
		padding: 8px;
	}

	&--green {
		border: 1px solid $green-spring;
		background-color: $green-spring;
		color: $white;

		&:hover {
			border-color: $green-jade;
			background-color: $green-jade;
		}
	}

	&--purple {
		border: 1px solid $purple;
		background-color: $purple;
		color: $white;

		&:hover {
			border-color: $purple-indigo;
			background-color: $purple-indigo;
		}
	}

	&--red {
		border: 1px solid $red-radical;
		background-color: $red-radical;
		color: $white;

		&:hover {
			border-color: $red-monza;
			background-color: $red-monza;
		}
	}

	&--orange {
		border: 1px solid $orange;
		background-color: $orange;
		color: $white;

		&:hover {
			border-color: $orange-grenadier;
			background-color: $orange-grenadier;
		}
	}
}

.button__text {
	display: flex;
	flex-direction: column;
}



// Color card
.color__card {

	.color__display {
		height: 90px;
		display: block;
		width: 90px;
		content: "";
		border-radius: 90px;
		margin: 0 auto;

		&--yellow-bright-sun {
			background-color: $yellow-bright-sun;
		}

		&--green-spring {
			background-color: $green-spring;
		}

		&--green-jade {
			background-color: $green-jade;
		}

		&--purple {
			background-color: $purple;
		}

		&--purple-indigo {
			background-color: $purple-indigo;
		}

		&--red-radical {
			background-color: $red-radical;
		}

		&--red-monza {
			background-color: $red-monza;
		}

		&--orange {
			background-color: $orange;
		}

		&--orange-grenadier {
			background-color: $orange-grenadier;
		}
	}

	.color__subtitle {
		text-align: center;
		p {
			margin: 10px 0;
		}
	}
}

.card__box {
	border: 1px solid $gray-alto;
	border-radius: 3px;
	padding: 16px 24px;
}

// Form elements
#forms {
	padding-bottom: 250px;
}

.form {
	&__input {
		border-radius: 3px;
		background-color: $gray-alabaster;
		border: 1px solid $gray-alto;
		box-shadow: none;
		padding: 6px 12px;
		font-size: 14px;
		font: inherit;
		width: 100%;

		&--disabled {
			background-color: $gray-alto;
		}
	}

	&__select {
	}

	&__radio--container {
		padding: 15px 0;
	}

	&__checkbox--container {
		padding: 15px 0;
	}

	&__label {
		width: 100%;
		display: inline-block;
		margin: 10px 0 5px;
	}
}


// Code elements
$gray-code: #F4F4F4;

pre {
	background: $gray-code;
	padding: 20px;
	border-radius: 3px;
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
}

.code {
	&__box {
		position: relative;
	}

	&__title {
		position: absolute;
		right: 0;
		top: 0;
		background-color: $blue-oxford;
		color: $white;
		padding: 0 4px;
		border-radius: 3px;
		font-size: 12px;
	}
}


